/*
 * 		Colors
 * 		------
 */

$white: #FFFFFF;
$grey: #D8E9F0;
$black: #454553;
$red: #A63636;
$blue: #007AB5;

/*
 * 		Fonts
 * 		-----
 */

$lato 	 	: 'Lato', sans-serif;
$montserrat : 'Montserrat', sans-serif;

/*
 * 		Breakpoints
 * 		-----------
 */

$tinyBreakpoint 	: 519px; // SMALL SMART-PHONE
$smallBreakpoint 	: 767px; // BIG SMART-PHONE
$mediumBreakpoint 	: 949px; // IPAD